<div class="background">
  <mat-toolbar class="topbar remove-padding">
    <div fxLayout="row" class="full-width">
      <div fxFlex>
        <img src="assets/images/linga-logo.png" alt="" id="mini-logo-topbar" style="width:50px; height:50px;" />
      </div>
      <div fxFlex="100px" fxLayoutAlign="end center">
        <button mat-button mat-raised-button color="primary" type="button">
          Publish
        </button>
      </div>
    </div>
  </mat-toolbar>
</div>
<div fxLayout="row" class="full-width">
  <div fxFlex="20">
    <mat-card class="p-0 card-height">
      <div class="f-large" fxLayout="row" fxLayoutAlign="center center">
        LEFT PANEL
      </div>
      <div class="mt-1-05" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxLayout="row wrap">
          <div fxFlex="45" class="controls">
            Input Box
          </div>
          <div fxFlex="45" class="controls ml-05">
            Select Box
          </div>
        </div>
      </div>
      <div class="mt-1" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxLayout="row wrap">
          <div fxFlex="45" class="controls">
            Checkbox
          </div>
          <div fxFlex="45" class="controls ml-05">
            Radio button
          </div>
        </div>
      </div>
      <div class="mt-1" fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div fxFlex="100" class="controls">
            Button
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex="60">
    <mat-card class="p-0 card-height">
      <div class="f-large" fxLayout="row" fxLayoutAlign="center center">
        WORKSPACE
      </div>
      <div class="mt-1-05" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px" style="height: 80%;">
        <mat-card class="login-inner controls-height">
          <mat-card-content>
            <form novalidate>
              <div class="login-page">
                <mat-form-field class="full-width search_goalinput">
                  <input matInput name="username" placeholder="Username" value="" />
                </mat-form-field>
              </div>
              <div class="mt-1 login-page">
                <mat-form-field class="full-width search_goalinput">
                  <input type="password" name="password" matInput placeholder="Password" value="" />
                </mat-form-field>
              </div>
              <button mat-button mat-raised-button color="primary" class="full-width mb-1 mt-1">
                Sign in
              </button>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"
                fxLayoutAlign.xs="space-between center">
                <div>
                  <a mat-button class="forget-class">Forgot password</a>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card>
  </div>
  <div fxFlex="20">
    <mat-card class="p-0 card-height">
      <div class="f-large" fxLayout="row" fxLayoutAlign="center center">
        JSON STRUCTURE
      </div>
      <div class="mt-1-05" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <pre>{{components | json}}</pre>
      </div>
    </mat-card>
  </div>
</div>