<div class="background">
  <mat-toolbar class="topbar remove-padding">
    <div fxLayout="row" class="full-width">
      <div fxFlex>
        <img src="assets/images/linga-logo.png" alt="" id="mini-logo-topbar" style="width:50px; height:50px;" />
      </div>
      <div fxFlex="100px" fxLayoutAlign="end center">
        <button mat-button mat-raised-button color="primary" type="button">
          Publish
        </button>
      </div>
    </div>
  </mat-toolbar>
</div>
<div fxLayout="row" class="full-width">
  <div fxFlex="20">
    <mat-card class="p-0 card-height">
      <div class="f-large" fxLayout="row" fxLayoutAlign="center center">
        LEFT PANEL
      </div>
      <div class="mt-1-05 p-10" fxLayout="row wrap" fxLayoutAlign="center center" dragula="formControls"
        [(dragulaModel)]="controls" [attr.data-position]="'original'">
        <div class="mb-1" fxFlex="100" *ngFor="let item of controls" [attr.data-controlType]="item.name">
          <div class="controls">
            {{item.value}}
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxFlex="60">
    <mat-card class="p-0 card-height">
      <div class="f-large" fxLayout="row" fxLayoutAlign="center center">
        WORKSPACE
      </div>
      <div class="mt-1-05" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px" style="height: 80%;">
        <mat-card class="login-inner controls-height">
          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div class="drop-class" fxFlex="100" dragula="formControls" [(dragulaModel)]="controls1"
                [attr.data-position]="'none'">
                <span fxLayoutAlign="center center" class="custom-drag-items-text">
                  Drop the components here
                </span>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <div fxLayout="row wrap" *ngFor="let item of components">
                <div *ngIf="item.Name == 'input' && item.Type == 'text'">
                  <mat-form-field class="">
                    <input matInput [value]="item.Value" [disabled]=true>
                  </mat-form-field>
                </div>
                <div *ngIf="item.Name == 'input' && item.Type == 'select'">
                  <mat-form-field class="">
                    <mat-select [(ngModel)]="inputFilter" placeholder="Select type">
                      <mat-option value="text">text</mat-option>
                      <mat-option value="password">password</mat-option>
                      <mat-option value="email">email</mat-option>
                      <mat-option value="number">number</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card>
  </div>
  <div fxFlex="20">
    <mat-card class="p-0 card-height">
      <div class="f-large" fxLayout="row" fxLayoutAlign="center center">
        JSON STRUCTURE
      </div>
      <div *ngIf="components && components.length > 0" class="mt-1-05" fxLayout="row wrap" fxLayoutAlign="center center"
        fxLayoutGap="10px">
        <pre>{{components | json}}</pre>
      </div>
    </mat-card>
  </div>
</div>